.basic
  = link_to 'home', ApplicationHelper.home_page
  = link_to 'parts', ApplicationHelper.parts_start
  = link_to 'checkout', ApplicationHelper.checkout_start
  = link_to 'customer service', ApplicationHelper.customer_service
