- content_for :body_class do
  home-index

-content_for :head do
  %link {rel: 'canonical', href: 'google.com/'}

.row.base
  %h1.not-bold
    This is the title

.row.base
  %h2.subheader
    this is the sub header
  %h2.subheader
    centered
