.row
  .small-12.columns
    = link_to 'home', ApplicationHelper.home_page
  .small-10.columns
    = link_to 'parts', ApplicationHelper.parts_start
  .small-8.columns
    = link_to 'checkout', ApplicationHelper.checkout_start
  .small-6.columns
    = link_to 'customer service', ApplicationHelper.customer_service
